.about-project {
  padding-top: 70px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 69px;
}

.about-project__title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  box-shadow: 0 1px 0px 0px #000;
  padding-bottom: 28px;
  margin: 0;
}

.about-project__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 64px;
  padding-left: 0;
  gap: 60px;
}

.about-project__table {
  display: flex;
  list-style-type: none;
  margin-top: 60px;
  padding-left: 0;
}

.about-project__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-project__item-title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  max-width: 560px;
}

.about-project__item-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.about-project__column {
  flex-grow: 1;
}

.about-project__column_narrow {
  max-width: 100px;
  width: 25%;
}

.about-project__column-title {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #F2F2F2;
}

.about-project__column-title_blue {
  color: #fff;
  background-color: #3456F3;
}

.about-project__column-text {
  font-size: 11px;
  font-weight: 400;
  color: #A0A0A0;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

@media (min-width: 520px) {
  .about-project {
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 42px;
    padding-bottom: 90px;
  }

  .about-project__title {
    font-size: 22px;
    padding-bottom: 25px;
  }

  .about-project__list {
    flex-direction: row;
    gap: 30px;
    margin-top: 73px;
  }
  .about-project__item {
    gap: 23px;
  }
  .about-project__item-title {
    font-size: 20px;
    letter-spacing: -0.8px;
    max-width: 325px;
  }

  .about-project__item-text {
    font-size: 12px;
    letter-spacing: 0.2px;
  }
  .about-project__table{
    margin-top: 97px;
  }

  .about-project__columns {
    margin: 93px 0 0;
  }
  .about-project__column-title{
    padding-bottom: 14px;
  }

  .about-project__column_narrow {
    max-width: 140px;
    width: 25%;
  }

  .about-project__column-title {
    font-size: 14px;
  }

  .about-project__column-text {
    font-size: 14px;
  }
}

@media (min-width: 950px) {
  .about-project {
    padding-top: 110px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .about-project__title {
    padding-bottom: 23px;
  }

  .about-project__list {
    margin-top: 72px;
    gap: 52px;
  }

  .about-project__item-title {
    max-width: 371px;
  }

  .about-project__item-text {
    font-size: 14px;
  }

  .about-project__item {
    gap: 29px;
  }

  .about-project__table {
    margin-top: 116px;
  }

  .about-project__column_narrow {
    max-width: 228px;
  }
}
