.register {
  margin: 0 auto;
  max-width: 396px;
  margin-bottom: 0;
}

.register__container {
  max-width: 260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 520px) {
  .register__container {
      padding-top: 167px;
      max-width: 396px;
      align-items: normal
  }
}

@media screen and (min-width: 950px) {
  .register__container {
    padding-top: 2px;
  }
}

